@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiDrawer-paper {
  background-color: #9d278b;
  color: white;
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
  font-weight: 500;
  text-decoration: none;
}

.MuiLink-root {
  text-decoration: none;
  color: white;

}

.menuBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #9d278b;
  padding-left: 20px;
}

.header {
  height: 20vh;
  background: #9d278b;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.search-button {
  width: 65px;
  height: 55px;
  background: #eae5e5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background: #d2c6c6;
}

.embla {
  overflow: hidden;
  display: flex;
}

.embla__viewport {
  display: flex;
  flex-direction: row;
  overflow: clip;
}

.embla__container {
  display: flex;
  flex-direction: row;
  flex-basis: fit-content;
  width: 84%;
}

.produtos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 24px;
}

.produto-card {
  height: 405px;
  width: 320px;
  padding: 2px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.produto-card:hover {
  border: 1px solid #cdcdcd;
}

.nome-produto {
  font-weight: 500;
  max-height: 72px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*body {
  overflow: hidden;
}

.scrollable {
  overflow: scroll;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
